
<% layout('/layouts/boilerplate') %>
    <h1 class="edit-title">Edit Listing</h1>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-12 col-md-8">
               <label for="listing[title]"class="form-label">Title</label>
               <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            </div>
            <!-- <div class="col-md-4">
               <label for="listing[destination]" class="form-label">Destination</label>
               <input type="text" name="listing[destination]" value="<%= listing.destination %>" class="form-control" required>
            </div> -->
           <div class="col-12 col-md-4">
               <label for="listing[destination]" class="form-label">Destination</label>
               <select name="listing[destination]" class="form-control" required>
                  <option value="">Select Destination   <i class="fa-solid fa-sort-down"></i></option>
                  <option value="Space Station">Space Station</option>
                  <option value="Orbital Hotel">Orbital Hotel</option>
                  <option value="Moon">Moon</option>
                  <option value="Mars">Mars</option>
                  <option value="Deep Space">Deep Space</option>
              </select>
            </div>            
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="listing[description]" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                 <label for="listing[price]" class="form-label">Price</label>
                 <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
            </div>
            <div class="col-md-4">
                 <label for="listing[durationInDays]" class="form-label">Duration in Days</label>
                 <input type="number" name="listing[durationInDays]" value="<%= listing.durationInDays %>" class="form-control" required>
            </div>
            <div class="col-md-4">
                   <label for="listing[capacity]" class="form-label">Capacity</label>
                   <input type="number" name="listing[capacity]" placeholder="Capacity (passengers)" value="<%= listing.capacity %>" class="form-control" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="listing[type]" class="form-label">Type</label>
                <input type="text" name="listing[type]" placeholder="Type (e.g., Hotel, Expedition)" value="<%= listing.type %>" class="form-control" required>
            </div>
            <div class="col-md-8">
                <label for="listing[amenities]" class="form-label">Amenities</label>
                <input type="text" name="listing[amenities]" placeholder="Amenities (comma-separated)" value="<%= listing.amenities.join(', ') %>" class="form-control">
            </div>
        </div>
        <br>
        <div class="mb-3">
            Original Image <br>
            <img src="<%=originalImageUrl%>" alt="Unable to load your image">
        </div>
        <label for="listing[image]" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" class="form-control">
        <br>
        <div class="row">
            <label for="listing[availableFrom]" class="form-label">Time Period(from--to):</label>
            <div class="col-4">
                <input type="date" name="listing[availableFrom]" value="<%= listing.availableFrom ? listing.availableFrom.toISOString().split('T')[0] : '' %>" class="form-control">    
            </div>
            <div class="col-4">
                <input type="date" name="listing[availableTo]" placeholder="Available To (YYYY-MM-DD)" value="<%= listing.availableTo ? listing.availableTo.toISOString().split('T')[0] : '' %>" class="form-control">
            </div> 
        </div>
        <br>
        <button type="submit" class="btn update-btn">Update Listing</button>
    </form>