<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="card col-8 offset-2 listing-detail-card">
        <h3 class="show-title"><%= listing.title %></h3>
        <img class="card-img-top show-img" src="<%= listing.imageUrl %>" alt="listing image">
        <div class="card-body">
            
            <p class="card-text"><%= listing.description %></p> 
            <p><%= listing.title %> - <%= listing.destination %></p>
            <p>Price: &#x20B9;<%= listing.price.toLocaleString("en-IN") %>/<%= listing.durationInDays %> days</p>
            <p>Type: <%= listing.type %></p>
            <p>Amenities: <%= listing.amenities.join(', ') %></p>
            <p>Available From: <%= listing.availableFrom ? listing.availableFrom.toDateString() : 'N/A' %> To: <%= listing.availableTo ? listing.availableTo.toDateString() : 'N/A' %></p>
            <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn edit-btn">Edit Listing</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" style="display: inline-block;">
                <button type="submit" class="btn delete-btn">Delete Listing</button>
            </form>
        </div>
    </div>

    </div>